* {
    margin: 0;
    padding: 0;
    font-family: Outfit;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(217, 54%, 11%);
}

main {
    width: 375px;
    display: flex;
    padding: 1.5rem;
    border-radius: 18px;
    flex-direction: column;
    background-color: hsl(216, 50%, 16%);
}

.img {
    position: relative;
}

.equilibrium_img {
    width: 100%;
    border-radius: 12px;
}

.view {
    top: 0;
    height: 99%;
    width: 100%;
    display: none;
    cursor: pointer;
    position: absolute;
    place-items: center;
    border-radius: 12px;
    background-color: hsla(178, 100%, 50%, 0.5);
}

.img:hover .view {
    display: grid;
}

.heading {
    color: white;
    cursor: pointer;
    margin: 1.5rem 0;
    font-weight: 600;
    font-size: 1.5rem;
}

.heading:hover {
    color: hsl(178, 100%, 50%);
}

.description {
    font-size: 1.2rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.row {
    display: flex;
    margin: 1.5rem 0;
    font-size: 1.1rem;
    justify-content: space-between;
}

.price {
    gap: .5rem;
    display: flex;
    align-items: center;
    color: hsl(178, 100%, 50%);
}

.time {
    gap: .5rem;
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
}

hr {
    border: none;
    border-top: 1px solid hsl(215, 32%, 27%);
}

.footer {
    gap: 1rem;
    display: flex;
    align-items: center;
    margin-top: .5rem;
}

.avatar {
    width: 35px;
    border-radius: 50%;
    border: 1px solid white;
}

.name {
    font-weight: 300;
    font-size: 1.1rem;
    color: hsl(215, 51%, 70%);
}

.name a,
.name a:visited {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.name a:hover {
    color: hsl(178, 100%, 50%);
}